{% extends 'base.html.twig' %}

{% block body %}
<h1>
    Forecast for {{ cityName }}, {{ countryCode }}

    {% for forecast in forecasts %}
        <h2>{{ forecast.date | date('Y-m-d') }}</h2>

        <dl>
            <dt>Temperature</dt>
            <dd>{{ forecast.temperatureCelcius }}</dd>

            <dt>Feels like</dt>
            <dd>{{ forecast.flTemperatureCelcius }}</dd>

            <dt>Pressure</dt>
            <dd>{{ forecast.pressure }}</dd>

            <dt>Humidity</dt>
            <dd>{{ forecast.humidity }}</dd>

            <dt>Wind speed</dt>
            <dd>{{ forecast.wind_speed }}</dd>

            <dt>Wind degree</dt>
            <dd>{{ forecast.wind_deg }}</dd>

            <dt>Cloudiness</dt>
            <dd>{{ forecast.cloudiness }}</dd>
        </dl>
    {% endfor %}
</h1>
{% endblock %}